.circle
    background: var(--white-color)
    border-radius: 50%
    box-shadow: var(--shadow)
    display: flex
    align-items: center
    justify-content: center
    position: relative
    padding: .5rem
    img
        width: 20%
        height: 20%
        position: absolute